apiVersion: v1
kind: Secret
metadata:
  name: expense-tracker-secrets
  namespace: expense-tracker
  labels:
    app.kubernetes.io/part-of: expense-tracker
    app.kubernetes.io/name: expense-tracker-secrets
    app.kubernetes.io/component: secrets
type: Opaque
stringData:
  POSTGRES_USER: changeme
  POSTGRES_PASSWORD: changeme
  POSTGRES_DB: expense_tracker
  RABBITMQ_DEFAULT_USER: changeme
  RABBITMQ_DEFAULT_PASS: changeme
